.kuning{
    color:#ffc107;
}
body{
    overflow-x: hidden;
    font-family: nunito;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.header_home {
    min-height: 85vh;
    background: url(../icon/bg_header3.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.img_why{
        width: 100%;
    }

.bold{
    font-weight: bold;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85vh;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(7, 7, 7, 0.33);
}
a{
    color: #333;
}

.title_home {
    padding-top: 30vh;
    font-family: 'nunito Condensed', sans-serif;
    color: #ffffff;
    font-size: 35px;
}
.heading-orange-divider {
    width: 70px;
    height: 5px;
    background-color: #F6A331;
    margin: 0 auto;
    margin-top: 15px;
}
.heading-green-divider {
    width: 70px;
    height: 5px;
    background-color: #3baa3b;
    margin: 0 auto;
    margin-top: 15px;
}
.btn-warning2{
    color: #fffff9;
    background-color: #F6A331;
    border-color: #F6A331;
    transition: 0.2s;
}
.btn-warning2:hover{
    color: #FFFFF5;
    background-color: #F6A331;
    border-color: #F6A331;
}
.title2 {
    font-family: 'nunito Condensed', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 30px;
}

.lead1 {
    display: inline-block;
    color: #fff;
}

.putih {
    color: #fff;
}
.img_desk{
}
.bg_white{
    background: #fff;
    margin: 1px;
    min-width: 25%;
}
.desk_box{
    font-weight: lighter;
    font-size: 14px;
}
.box_black{
    background: #815438;
    color: azure;
    height: 190px;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
}
.box_black:hover{
    background: #F6A331;
    color: azure;
    height: 190px;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
    text-align: left;
}
.scrool_beh {
    background: #f7f7f7;
    min-height: 100vh;
    padding-bottom: 10px;
}
.box_white{
    background: #3c3c3c;
    padding: 0px;
    overflow: hidden;
    height: 190px;
    position: relative;
}
.scrool_beh_btm {
    min-width: 50vh;
    padding-bottom: 0px;
    background: #f7f7f7;
    padding-bottom: 50px;
}

.footer_countainer{
    background: rgb(255, 255, 255);
    width: 100vw;
    margin-top: 00px;
}
.pdgtop80 {
    padding-top: 80px;
}
.pdgtop70 {
    padding-top: 70px;
}
.pdgtop50 {
    padding-top: 50px;
}

.pdgbtm20 {
    padding-bottom: 20px;
}

.mrgnbtn50{
    margin-bottom: 50px;
}
.img_trac{
    width: 80px;
    margin-bottom: 20px;
}
.mengapa_p{
    font-family: nunito;
    font-weight: bold;
    color: #3b3b3b;
}
.w100px{
    width: 100px;
}
.why_utan{
    margin-bottom: 40px;
}

.c-inves{
    padding-top:0px; 
    padding-bottom: 0px;
}

.memilih-ico{
    max-width: 1000px; 
    margin-bottom: 10px;
    margin-top: 50px;
    background: url("/static/asset/icon/memilih.png")no-repeat;
    background-size: 100%;
    height: 150px;
}

.c-proyek{
    padding-top:20px;
    padding-bottom: 20px;
}

.nonetxt{
    color:#000; 
    text-decoration: none;
}

.title_why{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #6c6c6c;
}

.isi_why{
    color: #6a6a6a;    
    font-weight: lighter;
}

.h22{
        font-size:35px;
        margin-bottom: 30px;
}

.hover-card{
    width: 16.5rem;
    margin-bottom: 30px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    cursor: pointer;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s;
    text-decoration: none;

}
.hover-card:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow:  0 5px 15px rgba(0,0,0,.3);
            box-shadow:  0 5px 15px rgba(0,0,0,.3);
    
    text-decoration: none;
}

.hover-card:hover {
    color: #000;
    text-decoration: none;
}

.tb-proyek{
    float: left; 
    margin-bottom: 20px;
    font-size: 14px;
}

.progress_custom{
    float: left;
    width: 100%;
}

.float_left{
    float: left;
}

.tb-des{
    font-size: 13px; 
    float: left;
}

.bg-sil{
    background: #e8e8e8;
    width: 100%;
    margin-top: 1.25rem;
    height: auto;
    border-radius: 0px 0px 0.25rem 0.25rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem ;
}


.pilih_in{
    margin-top: 30px;
    padding: 150px 0px;
    background: url(../icon/bg.svg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.mgbtm150px{
    margin-bottom: 150px;
}

.img_plane{
    width: 80%;
}

.gambar_sawah{
    height: 220px;
    cursor: pointer;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
    border-radius: 10px;
}

.gambar_sawah:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}
.gambar_sapi{
    height: 220px;
    cursor: pointer;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
    border-radius: 10px;
}

.gambar_sapi:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}
.custom_nav_logo_atas{
    display: block;
}

.logo_custom{
    width: 80px;
    height: 37px;
    margin-left: 100px;
}

.card-title2{
    font-weight: bold;
    color: #313131;
}
.pp_t{
    width: 120px;
    font-weight: bold;
    height: 120px;
    background: rgba(255, 170, 35, 0.85);
    color: #fff;
    line-height: 127px;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 50px;
}
a .pp_t_header{
    width: 50px;
    font-weight: bold;
    height: 50px;
    background: rgba(255, 170, 35, 0.85);
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    border: 0px;
    cursor: pointer;
}
.name_circle{
    color: #676767;
    font-weight: bold;
    font-size: 18px;
}
.btm_menu{
    display: none;
}
.munggah{
    display: inline-block;
    padding: 13px 18px 15px 18px;
    border: 0 solid #c3c3c3;
    position: fixed;
    right: 10px;
    background-color: rgba(255, 170, 35, 0.85);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    bottom: 10px;
    font-weight: bold;
}
.poster{
    background: url(../icon/footer1.png)no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250px;
}
.top_poster{
    height: 0px;
    
}
.perlu{
    color: #fff;
    font-size: 30px;
    display: inline-block;
    letter-spacing: 5px;
    margin-top: 100px;
    width: 75%;
    text-align: left;
    
    
}