<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>pipo </title>
        <link rel="stylesheet" href="/static/asset/ico/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/static/asset/bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/static/asset/bootstrap_select/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/static/asset/css/navbtm.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="/static/asset/icon/logo_circle.png" rel="icon">
        {% block css %}{% endblock %}
    </head>

    <body>
       
        {% include "header.html" %}
        
        {% block content %}{% endblock %}
        
        {% include "footer.html" %}
        
        {% include "nav_bottom.html" %}
        
    </body>
    
<script src="/static/asset/jquery-2.1.3.js"></script>
<script src="/static/asset/bootstrap/jquery-3.2.1.js"></script>
<script src="/static/asset/bootstrap/js/bootstrap.js"></script>
<script src="/static/asset/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/static/asset/custom.js"></script>
<script src="/static/asset/slide/js/lightslider.js"></script>

{% block js %}{% endblock %}
</html>