<div class="custom_nav_logo_atas">

{% if request.user_agent.is_mobile %}
   
    {% if not profile %}
           
        <a href="/">
            <img src="/static/asset/icon/logo_circle.png"alt="" class="logo_custom1">
        </a> 
            
    {% endif %}
    
{% else %}
   
    <nav class="nav_custom_top navbar navbar-expand-lg navbar-light fixed-top ">
            <a class="navbar-brand" href="/">
                <img src="/static/asset/icon/logo.png"alt="" class="logo_custom">
            </a> 
    {% if request.user.is_authenticated %}
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="nav-item" style="margin-right: 100px;">
                <a href="/profile">
                    <div class="btn-group">
                        <li class="nav-item dropdown" style="list-style: none;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             
                                    {% load main_tags %}
                              <div class="pp_t_header">
                                    {{ request.user.id|getname|make_list|first|upper }}
                              </div>
                              
                                <span class="name_circle">
                                    {{ request.user.id|getname}}</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile">Dashboard</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </li>
                    </div>
                </a>
            </div>
        </div>

    {% else %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="nav-item" style="margin-right: 20px;">
                <a href="/daftar">
                        <button type="button" class="btn btn-light" style="padding: 5px 20px 5px 20px" ><i class="fa fa-user-o"> </i> Daftar</button>
                    </a>
            </div>
            <br>
            <div class="nav-item" style="margin-right: 100px;">
                <a href="/login">
                        <button type="button" class="btn btn-success" style="padding: 5px 20px 5px 20px">Masuk</button>
                    </a>
            </div>
        </div>


    {% endif %}
    </nav>
{%endif%}
</div>