{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/asset/style.css" type="text/css">
    <link rel="stylesheet" href="/static/asset/slide/css/lightslider.css" />
    <link rel="stylesheet" href="/static/asset/css/home.css">
    <link rel="stylesheet" href="/static/asset/css/transaksi.css">
    <link rel="stylesheet" href="/static/asset/responsive.css" type="text/css"> 
{% endblock %}

 
{% block content %}
{% load humanize %} 
    <div class="header_home" id="atas">
       <div class="overlay">
        <div class="col-sm-12">
            <center>
                <h2 class="title_home">Platform Investasi Pertanian Organik #1
                </h2>
                <p class="title2">Berinvestasi sambil membantu pertanian banyuwangi</p>
                <p class="lead lead1">
                    <a class="putih btn btn-warning2 btn-lg " href="/#mengapa" role="button">Mengapa PIPO ?</a>
                </p>
                <p class="lead lead1">
                    <a class="btn btn-success btn-lg " href="/#inves" role="button">Cara Investasi</a>
                </p>
            </center>
        </div>
        </div>
    </div>
    <center>
        <div id="mengapa"></div>
        <div class="scrool_beh">
            <div class="container pdgtop50">
                <div class="row">
                    <div class="col-sm-12 mrgnbtn50">
                        <h2 class="mengapa_p">Mengapa Pipo Untuk Investasi Anda ?</h2>
                        <div class="heading-orange-divider" style="margin-top: 20px; margin-bottom: 12px;"></div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm-3 box_white">
                        <img src="static/asset/icon/about-plamber-2.jpg" alt="" class="img_desk">
                    </div>
                    <div class="col-sm-3 box_black">
                        <h4>
                            <b>Investasi Menguntungkan</b>
                        </h4>
                        <p class="desk_box">
                            Anda akan mendapat bagi hasil dari investasi yang anda lakukan
                        </p>
                    </div>
                    <div class="col-sm-3 box_white">
                        <img src="static/asset/icon/project5.jpg" alt="" class="img_desk">
                    </div>
                    <div class="col-sm-3 box_black">
                        <h4>
                            <b>Membantu Pertanian Organik</b>
                        </h4>
                        <p class="desk_box">
                            Investasi anda membantu petani untuk menggunakan methode bertani Organik
                        </p>
                    </div>
                    <div class="col-sm-3 box_black order2">
                        <h4>
                            <b>Memperbaiki Tanah</b>
                        </h4>
                        <p class="desk_box ">
                            Dari pertanian organik, anda secara tidak langsung membantu pemulihan tanah pertanian yang sudah rusak karena bahan kimia
                        </p>
                    </div>
                    <div class="col-sm-3 box_white order1">
                        <img src="static/asset/icon/project4.jpg" alt="" class="img_desk">
                    </div>
                    <div class="col-sm-3 box_black order4">
                        <h4>
                            <b>Kontribusi Pangan Sehat</b>
                        </h4>
                        <p class="desk_box">
                            Dari investasi anda, anda sudah berkontribusi untuk menciptakan pangan sehat dari hasil investasi pertanian organik
                        </p>
                    </div>
                    <div class="col-sm-3 box_white order3">
                        <img src="static/asset/icon/project2.jpg" alt="" class="img_desk">
                    </div>
                </div>
            </div>
        </div>

        <div id="inves"></div>
        <div style="" class="scrool_beh_btm">
            <div class="container c-inves">
                <br>
                <center>
                    <div class="row">
                        <div class="col-12">
                        <h2 class="mengapa_p">Lima Langkah Untuk Memulai Investasimu</h2>
                        <div class="heading-green-divider" style="margin-top: 20px; margin-bottom: 12px;">
                        </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-sm footer_desk">
                            <img src="/static/asset/icon/plant%20(1).svg" alt="investasi pertanian" class="w100px">
                            <p class="title_why">1. Pilih Proyekmu</p>
                            <p class="isi_why">Pilih jenis proyek investasi berdasarkan waktu, risiko, dan keuntungan yang Kamu inginkan</p>
                        </div>
                        <div class="col-sm footer_desk">
                            <img src="/static/asset/icon/farmer%20(1).svg" alt="investasi pertanian" class="w100px">
                            <p class="title_why">2. Daftar Atau Login</p>
                            <p class="isi_why">Klik tombol Daftar yang ada di pojok kanan atas halaman ini untuk langsung bergabung!</p>
                        </div>
                        <div class="col-sm footer_desk">
                            <img src="/static/asset/icon/growth.svg" alt="investasi pertanian" class="w100px">
                            <p class="title_why">3. Mulai Investasi</p>
                            <p class="isi_why">Transfer uang investasi sesuai jumlah yang kamu ingin investasikan</p>
                        </div>
                        <div class="col-sm footer_desk">
                            <img src="/static/asset/icon/plant%20(2).svg" alt="" class="w100px">
                            <p class="title_why">4. Pantau Investasimu</p>
                            <p class="isi_why">Pantau perkembangan investasi proyekmu melalui user dashboard mu disini
                            </p>
                        </div>
                        <div class="col-sm footer_desk">
                            <img src="/static/asset/icon/harvest.svg" alt="" class="w100px">
                            <p class="title_why">5. Dapatkan Panenmu</p>
                            <p class="isi_why">Dapatkan uang investasimu beserta keuntungan panenmu </p>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div id="proyek"></div>
        <div class="col-sm-12">
           <div class="memilih-ico"></div>
        </div>
        <div class="container c-proyek">
            <div class="row">
                {% for i in objects %}
                <div class="col">
                    <a href="{% url 'detailproject' i.slug %}" class="nonetxt" style="text-decoration: none;">
                        <div class="card hover-card">

                            <!-- optimasi 1  -->
                            <img class="card-img-top" src="{{i.photo.url}}" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title2 text-left title-card bold"><b>{{i.name}}</b></h6>

                                <table class="table-md tb-proyek" border="0">
                                    <tr>
                                        <td>Kebutuhan Dana</td>
                                        <td>:</td>
                                        <td>Rp. {{i.finding_needs|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td>Lama Investasi</td>
                                        <td>:</td>
                                        <td>{{i.lama_investasi }} Hari</td>
                                    </tr>
                                    <tr>
                                        <td>Resiko</td>
                                        <td>:</td>
                                        <td>{{i.get_risk_status_display}}</td>
                                    </tr>
                                    <tr>
                                        <td>Lokasi</td>
                                        <td>:</td>
                                        <td>{{i.lokasi}}</td>
                                    </tr>
                                </table>
                                
                                <div class="progress progress_custom">
                                    <div class="progress-bar-animated progress-bar-striped progress-bar bg-success" role="progressbar" aria-valuenow="{{i.get_persen}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i.get_persen}}%">
                                    {{i.get_persen}}%</div>
                                </div>


                            </div>
                            <div class="bg-sil float_left">
                                <table class="table-sm tb-des" border="0">
                                    <tr>
                                        <td>Dana Terkumpul</td>
                                        <td>:</td>
                                        <td>{{i.get_pendanaan|intcomma}}</td>
                                    </tr>
                                </table>

                                <button type="button" class="btn btn-warning btn-lg btn-block"><strong>Lihat Investasi</strong></button>

                            </div>

                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <button type="button" class="btn btn-success btn-lg btn-block">Lihat Semua Proyek</button>

        </div>
        
        
        
        </div>
        </div>
        
        <!--
        <div class="pilih_in">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12">
                        <img src="/static/asset/icon/plane.svg" alt="" style="" class="img_plane mgbtm150px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pilih_p1">
                        <a href="#/pertanian/#atas">
                            <div class="gambar_sawah">
                                <img src="/static/asset/icon/pertanian.svg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 pilih_p">
                        <a href="#/peternakan/#atas">
                            <div class="gambar_sapi">
                                <img src="/static/asset/icon/peternakan.svg" alt="" class="img_s">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        -->
    </center>
    
{% endblock %} 



