{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/asset/style.css" type="text/css">
    <link rel="stylesheet" href="/static/asset/slide/css/lightslider.css" />
    <link rel="stylesheet" href="/static/asset/css/home.css">
    <link rel="stylesheet" href="/static/asset/index.css">
    <link rel="stylesheet" href="/static/asset/css/transaksi.css">
    <link rel="stylesheet" href="/static/asset/responsive.css" type="text/css"> 
{% endblock %}

{% block content %}
   <center>
    <div class="container">
       
        <div class="col-xl-4" style="padding-top: 110px;">
                {% csrf_token %}
                <p class="h2 text-right">Masuk</p>
                <div class="form-group">
                    <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Masukan Alamat Email" name="username" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Masukan Kata Sandi" name="password" required>
                </div>
                <button type="button" class="btn btn-success" style="width: 100%;" name="login" id="login">Masuk</button>



                <small id="emailHelp" class="form-text text-muted">Tidak Memiliki Akun  ?</small>
                <a href="/daftar">
                    <div class="btn btn-info" style="width: 100%;">Daftar</div>
                </a>
                
                <div id="status-login"></div>
        </div>
    </div>
</center>
{% endblock %}


{% block js %}
<script>
  $("#login").on("click", function() {
    if ($('#username').val()!='' && $('#password').val()!='') {
       $.ajax({
           type:"POST",
           cache:false,
           url: "{% url 'login' %}",
           data: {'username': $('#username').val(),
            'password': $('#password').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}',
           },
           beforeSend:function(){
              $('#status-login').html('<p>loading</p>');
           },
           success:function(resp){
             $('#status-login').text('')
              if ( resp === "inactive") {
              $('#status-login').text("user belum aktif")
             } else if ( resp === "failed_login") {
               $('#status-login').text('gagal login. periksa user dan password');
             } else {
                  window.location = "/profile";
             }
           }
        });
  } else {
     $('#status-login').html("tolong input username dan password");
  }

});
</script>
{% endblock %}