
{% if request.user.is_authenticated %}
   {% load main_tags %}
 <nav class="no-labels-nav">
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/">
            <i class="bottom-nav__icon fa fa-home fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Beranda</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/#inves">
            <i class="bottom-nav__icon fa fa-leaf fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Investasi</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/profile">
            <span class="no-labels-nav__label">
                <div class="pp_t_header">
                    {{ request.user.id|getname|make_list|first|upper }}
                </div>
            </span>
        </a>
        
    </nav>
   <!-- <nav class="navbar fixed-bottom btm_menu">
        <div class="row">
            <div class="col-4">
                <center>
                    <a href="/" class="txt_menu_btm">
                            <i class="fa fa-home" style="color: #404040;"></i>
                            <p>Home</p>
                        </a>
                </center>
            </div>
            <div class="col-4">
                <center>
                    <a href="/#inves" class="txt_menu_btm"> 
                        <i class="fa fa-leaf" style="color: #28a745;"></i>
                        <p>Investasi</p>
                    </a>
                </center>
            </div>
            <div class="col-4">
                <center>
                    <a href="/profile" class="txt_menu_btm">
                        <div class="pp_t_header">
                            {{ request.user.id|getname|make_list|first|upper }}
                        </div>
                    </a>
                </center>
            </div>
        </div>
    </nav>
    -->
{% else %}
<!--
    <nav class="navbar fixed-bottom btm_menu">
        <div class="row">
            <div class="col-4">
                <center>
                    <a href="/" class="txt_menu_btm">
                            <i class="fa fa-home" style="color: #404040;"></i>
                            <p>Home</p>
                        </a>
                </center>
            </div>
            <div class="col-4">
                <center>
                    <a href="/#inves" class="txt_menu_btm"> 
                                <i class="fa fa-leaf" style="color: #28a745;"></i>
                                <p>Investasi</p>
                            </a>
                </center>
            </div>
            <div class="col-4">
                <center>
                    <a href="/login" class="txt_menu_btm">
                                <i class="fa fa-sign-in" style="color: #404040;"></i>
                                <p>Login</p>
                            </a>
                </center>
            </div>
        </div>
    </nav>
-->
 <nav class="no-labels-nav">
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/">
            <i class="bottom-nav__icon fa fa-home fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Beranda</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/#inves">
            <i class="bottom-nav__icon fa fa-leaf fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Investasi</span>
        </a>
        <a class="no-labels-nav__action no-labels-nav__action--active" href="/login">
            <i class="bottom-nav__icon fa fa-sign-in fa-2x o-labels-nav__icon"></i>
            <span class="no-labels-nav__label">Login</span>
        </a>
        
    </nav>
{% endif %}