 {% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="/static/asset/style.css" type="text/css">
<link rel="stylesheet" href="/static/asset/slide/css/lightslider.css" />
<link rel="stylesheet" href="/static/asset/css/home.css">
<link rel="stylesheet" href="/static/asset/index.css">
<link rel="stylesheet" href="/static/asset/css/transaksi.css">
<link rel="stylesheet" href="/static/asset/css/footable.bootstrap.min.css">
<link rel="stylesheet" href="/static/asset/responsive.css" type="text/css"> {% endblock %} {% block content %} {% load humanize %}

<div class="bg_profile">

    <div id="atas">
        <div>
            <center>
                <div class="container" style="margin-top: 0px;">
                    <div class="card" style="margin-top: 0px; border: 0px;">
                        <div class="card-body">
                            <div id="accordion">
                                <div class="card">
                                    <center>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body" style="text-align: left;">
                                            <div class="row noselect">
                                                <div class="col-xl-10">
                                                    <p class=" text-left "><b>Hallo {{data_inves.user}}</b></p>
                                                    <p class="h3 text-left clrorange"><b>ID Invoice : {{data_inves.uniquecode}}</b></p>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="col-sm-12">
                                                
                                                <table class="table"  data-toggle-column="last" >
                                                    <tbody>
                                                        <tr data-expanded="true">
                                                            <th class="th_res">
                                                                Nama Proyek
                                                            </th>
                                                            <td>:</td>
                                                            <!--<td class="tb_res">{{ forloop.counter }}</td>-->
                                                            <td class="tb_res">{{ data_inves.project.name }}</td>
                                                        </tr>
                                                        <tr data-expanded="true">
                                                            <th class="th_res">
                                                                Investasi Anda
                                                            </th>
                                                            <td>:</td>
                                                            <td class="tb_res">Rp. {{ data_inves.aoi|intcomma }}</td>
                                                            
                                                        </tr>
                                                        <tr data-expanded="true">
                                                            
                                                            <th class="th_res">
                                                                Status
                                                            </th>
                                                            <td>:</td>
                                                            <td class="tb_res color-red">
                                                                        Dana Belum DiTransfer
                                                            </td>
                                                            
                                                            
                                                        </tr>
                                                        <tr data-expanded="true">
                                                           
                                                            <th class="th_res">
                                                                Lakukan Transfer
                                                            </th>
                                                            <td>:</td>
                                                            <td class="tb_res">Rp. {{ data_inves.aoi|intcomma }}</td>
                                                            
                                                            
                                                        </tr>
                                                        <tr data-expanded="true">
                                                            <!--<td class="tb_res">{{ forloop.counter }}</td>-->
                                                            <td class="tb_res">
                                                                <img src="/static/asset/icon/bca.png" alt="" class="img_bank">
                                                            </td>
                                                            <td>:</td>
                                                            <td class="tb_res">34534534664575 <br> <b>a/n Pipo</b></td>
                                                        </tr>
                                                        <tr data-expanded="true">
                                                            <!--<td class="tb_res">{{ forloop.counter }}</td>-->
                                                            <td class="tb_res">
                                                                <img src="/static/asset/icon/bni.png" alt="" class="img_bank">
                                                            </td>
                                                            <td>:</td>
                                                            <td class="tb_res">2342325657322 <br> <b>a/n Pipo</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <a target="_blank" href="https://api.whatsapp.com/send?phone=6283122412167&text=Saya%20Ingin%20Mengkonfirmasi Pembayaran Dengan%20Id%20Transaksi%20{{ data_inves}}">
                                                    <button type="button" class="btn btn-success btn-lg btn-block">Konfirmasi Pembayaran</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Panel Row Toggler -->
            </center>

        </div>
    </div>
</div>


{% endblock %} {% block js %}

<script type="text/javascript" src="/static/asset/js/jquery.form.min.js"></script>
<script src="/static/asset/js/footable.min.js"></script>
<script>
    jQuery(function($) {
        $('.table').footable();
    });



    //update  Profile
    $(document).ready(function() {
        var options = {
            beforeSubmit: function() {
                $('button[name=btn_save]').html('Loading...');
                $('button[name=btn_save]').prop('disabled', true);
            },
            success: showResponse,
            url: "{% url 'userprofile' %}",
        };

        $('#updateprofile').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
        });
    });

    //ganti password script 
    $(document).ready(function() {
        var options = {
            beforeSubmit: function() {
                $('button[name=bpass]').html('Loading...');
                $('button[name=bpass]').prop('disabled', true);
            },
            success: showResponse,
            url: "{% url 'daftaruser' %}",
        };

        $('#gantipass').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
        });
    });

    function btnDsbl() {
        $('button[name=bpass]').html('Register');
        $('button[name=bpass]').prop('disabled', false);
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'success') {
            $('button[name=bpass]').html('Done');
            $('button[name=bpass]').prop('disabled', false);
            alert("Anda berhasil update password2")
            window.location.reload()
        } else if (responseText == "berhasilupdate") {
            $('button[name=btn_save]').prop('disabled', false);
            $('button[name=btn_save]').html('Simpan Perubahan');
            $('#tmpt_alert').html('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Data Berhasil DiUpdate </strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        } else if (responseText == "gagalupdate") {
            $('button[name=btn_save]').prop('disabled', false);
            $('button[name=btn_save]').html('Simpan Perubahan');
            $('#tmpt_alert').html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Data Gagal DiUpdate </strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        } else if (responseText == "passnotmatch") {
            alert("password lama tidak cocok");
            $('button[name=bpass]').prop('disabled', false);
            $('button[name=bpass]').html('Simpan Perubahan');
        } else if (responseText == "passlen") {
            alert("password kependekan");
            $('button[name=bpass]').prop('disabled', false);
            $('button[name=bpass]').html('Simpan Perubahan');
        } else {
            btnDsbl()
            $('#status-p').html('Gagal update password');
            $('button[name=bpass]').prop('disabled', false);
            $('button[name=bpass]').html('Simpan Perubahan');
        }

    }



    $(document).ready(function() {
        $("#content-slider").lightSlider({
            loop: true,
            keyPress: true
        });
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 5,
            slideMargin: 0,
            speed: 500,
            auto: false,
            loop: true,
            onSliderLoad: function() {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });
    //function for just number inputan 
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31 &&
            (charCode < 48 || charCode > 57))
            return false;
        return true;
    }



    //sparator ribuan
    (function($, undefined) {

        "use strict";

        // When ready.
        $(function() {

            var $form = $("#form");
            var $input = $form.find("input");

            $input.on("keyup", function(event) {


                // When user select text in the document, also abort.
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }

                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                    return;
                }


                var $this = $(this);

                // Get the value.
                var input = $this.val();

                var input = input.replace(/[\D\s\._\-]+/g, "");
                input = input ? parseInt(input, 10) : 0;

                $this.val(function() {
                    return (input === 0) ? "" : input.toLocaleString("id-ID");
                });
            });

            /**
             * ==================================
             * When Form Submitted
             * ==================================
             */
            $form.on("submit", function(event) {

                var $this = $(this);
                var arr = $this.serializeArray();

                for (var i = 0; i < arr.length; i++) {
                    arr[i].value = arr[i].value.replace(/[($)\s\._\-]+/g, ''); // Sanitize the values.
                };

                console.log(arr);

                event.preventDefault();
            });

        });
    })(jQuery);

    //auto give expetasi value
    function HitExpetasi() {
        var a, b;

        a = document.getElementById("inputan_inves").value;
        a = a.replace(/\./g, ''); // convert to number from aung format 
        a = parseInt(a, 10);
        b = parseInt(a, 10);

        a = a * 10 / 100;
        b = b + a;
        //mengembalikan ke format uang lagi 
        b = addCommas(b);

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }
        document.getElementById("output_ex").value = b;
    }
</script>


{% endblock %}